$btn-primary-bg: #686D76;
$btn-secondary-bg: #373A40; 
$btn-danger-bg:#DC5F00;


.sider-bg {
    background-color: #EEEEEE !important
}

.ant-menu-light .ant-menu-item-selected {
    background-color: #686D76 !important;
    color: white !important
}

.btn {
    background-color: $btn-primary-bg !important;
    color: white !important
}

.btn:hover {
    background-color: $btn-secondary-bg !important;
    color: white !important
}

.btn-danger{
    background-color: $btn-danger-bg !important;
    color: white !important;
}
.ant-btn-primary{
    background-color: $btn-primary-bg !important;
    color:white !important
}
.ant-btn-primary:hover{
    background-color: $btn-secondary-bg !important;
    color:white !important
}
.ant-progress .ant-progress-bg{
    background-color: $btn-secondary-bg !important;
}

.border{
    border: .4px solid black !important;
    border-color: #EEEEEE !important;
}
.border-radius-2{
    border-radius: 10px !important;
}